@font-face {
    font-family: Inter;
    src: url('../fonts/static/Inter-Regular.ttf');
}
@font-face {
    font-family: Inter-Bold;
    src: url('../fonts/static/Inter-Bold.ttf');
}
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
  }
  body{
      font-family: "Inter", sans-serif;
      margin: 3%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
 main{
max-width: 1500px;
    }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.item{
    padding-right: 15px;
    color: rgb(161, 161, 161);
    font-size: 15px;
}
.item:hover{
    color: rgb(199, 106, 106);
}
.wrapper{
    display: flex;
    margin-bottom: 30px;
    gap: 40px;
}
.hero{
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.big-img img{
    width: 100%;
}
.bottom{
    display: flex;
    gap: 1.9%;
}
.black-new{
    width: 26%;
    background-color: black;
    padding: 30px;
}
.head-new{
    font-family: "Inter";
    color: rgb(245, 169, 17);
    font-size: 45px;
}
#h1{
    padding-top: 49px;
    color: white;
    font-size: 23px;
}
#h2{
    color:rgb(211, 211, 211);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 39px;
}
hr{
    color: lightgray;
    opacity: 50%;
}
.web{
    margin-right: 25px;
}
.read-more{
    width: 100%;
    padding: 20px;
}
.webs{
    font-family: "Inter-Bold";
    font-size: 64px;
    font-weight: 800;
    margin: 0;
    line-height: 70px;
}
.headline__description{
    color: rgb(112, 112, 112);
    font-size: 17px;
    margin-bottom: 30px;
    font-weight: 500;
}
.btn{
    background-color: rgb(231, 100, 100);
    align-items: center;
    padding: 15px;
    color: white;
    border: none;
    width: 180px;
    height: 45px;
    letter-spacing: 4px;

}
.btn:hover{
        background-color: black;
    }
input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  .close{
    display: none;
    z-index: 9;
    position: absolute;
    top: 3%;
    right: 20px;
}
  @media (max-width:1000px) {
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        width: 60vw;
        height: 100vh;
        transition: all .5s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 27%;
        padding-left: 20px;
        text-align: left;
        z-index: 2;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        
    }
    .menu.open{
        transform: translateX(0);
        visibility: visible;
    }
    .hamburger{
        display: block;   
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        font-size: 28px;
        padding-bottom: 25px;
        font-weight: 500;
        cursor: pointer;
        transform: translateX(10vw);
        transition: all 0.5s ease-in-out;
    }

    .hero, .black-new, .third > div{
        width: 100%;
    }
    .third > div{
        padding-bottom: 39px;
    }
    .bottom{
        flex-direction: column;
    }
    .wrapper{
        flex-direction: column;
    }
    .third{
        flex-direction: column;
    }
}
   
.third{
    display: flex;
}
.point{
    display: grid;
    grid-template-columns: 170px 170px 170px;
    margin-top: 70px;
    
}
.point img{
    height: 150px;
}
.p1, .p2, .p3{
    width: 280px;
}
.numb{
    color: rgb(174, 173, 173);
}
.head{
    font-family: "Inter-Bold";
    font-weight: bold;
    font-size: 15px;
}
.content{
    color: rgb(174, 173, 173)
}